In [62]:
class Student:
    _id_counter = 1
    
    def __init__(self, name):
        if not name:
            raise ValueError("Name cannot be empty")
        self.student_id = Student._id_counter
        Student._id_counter += 1
        self.name = name
        self.grades = {}
        self.enrolled_courses = []
    def __str__(self):
        return f"Student ID : {self.student_id}, Name:{self.name}, Grades: {(self.grades)}"
    
    def __repr__(self):
        return f"Student ID : {self.student_id}, Name:{self.name}, Grades: {(self.grades)}"
    
    def add_grade(self, course_id, grade):
        if not 0 <= grade <= 100 :
            raise ValueError("Grade must be between 0 and 100")

        self.grades[course_id] = grade
    
    def enroll_in_course(self, course):
        if course in self.enrolled_courses:
            print("already enrolled!")
        else:
            self.enrolled_courses.append(course)

In [63]:
s1 = Student("")
# s1.add_grade("math", 90)

# name = input("enter stuent name")

# def add_student(name):
#     s1 = Student(name)
#     return s1
    
# add_student(name)

ValueError: Name cannot be empty

In [ ]:
str(s1)

'Student ID : 1, Name:George, Grades: {}'

In [24]:
s1

Student ID : 1, Name:George, Grades: {}

In [25]:
repr(s1)

'Student ID : 1, Name:George, Grades: {}'

In [ ]:
import unittest

class TestStudent(unittest.TestCase):
    def setUp(self):
        self.student = Student("Ahmed")
    
    def test_creation(self):
        self.assertEqual(self.student.name,"Ahmed")
    
    def test_ad_grade(self):
        self.student.add_grade("math", 90)
        self.assertEqual(self.student.grades["math"], 90)
    def test_enroll_course(self):
        self.student.enroll_in_course("Data Engineer")
        self.assertIn("Data Engineer", self.student.enrolled_courses)   
        
unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.003s

OK

In [46]:
class person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
def add_person(name,age):
    p1 = person(name, age)
    return p1.name

In [51]:
name = input("enter your name")
age  = int(input("enter your age"))
add_person(name, age)

In [ ]:
class Course:
    _id_counter = 1
    
    def __init__(self, name):
        self.course_id = Course._id_counter
        Course._id_counter += 1
        self.name = name
        self.enrolled_students = []
    
    def __str__(self):
        return f"Course ID: {self.course_id}, Name : {self.name}, Enrolled {len(self.enrolled_students)}"
    def __repr__(self):
        return f"Course ID: {self.course_id}, Name : {self.name}, Enrolled {len(self.enrolled_students)}"
    
    def enroll_student(self, student):
        if student not in self.enrolled_students:
            self.enrolled_students.append(student)
            print(f"student {student.name} enrolled successfully in {self.name}.")
        else:
            print(f"student {student.name} is already enrolled in {self.name}")
    def remove_student(self, student):
        if student in self.enrolled_students:
            self.enrolled_students.remove(student)
            print(f"student {student.name} removed from {self.name}.")
        else:
            print(f"student {student.name} is not enrolled in {self.name}.")

In [ ]:
c1 = Course("DE")
def add_course

Course ID: 1, Name : DE, Enrolled 0