# ðŸ“˜<span style="background-color:red;color:black;padding:2px 5px"><u>***Task 3* â€“ Data Types & If - For Loops & Functions**</u></span>

-   <span style="color:red">AI & Data Science Diploma â€“ Python Module</span>
-   <span style="color:red">Instructor:</span> <u>**Eng. George Samuel**</u>
-   <span style="color:red">Week:</span>Data Types & If - For Loops & Functions
-   <span style="color:red">Assignment Type:</span> Coding + Logical Thinking

### <span style="color:red">**Please Enter Your Name**</span>
- **You Name :Ahmed Nabil Ahmed Taha Ahmed**

### <span style="color:orange"><u>**1. Add an item to a tuple**<u></span>

- <span style="color:red">{Hint}:</span> Tuples cannot change. Convert to list â†’ modify â†’ tuple.

In [1]:
from sklearn.externals.array_api_compat.torch import minimum

my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
# your code here
my_tuple=list(my_tuple)
my_tuple.append(4)
new_tuple=tuple(my_tuple)
print(new_tuple)

(1, 2, 3, 4)

### <span style="color:orange"><u>**2. Sum all the items in a list**<u></span>

In [2]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
# your code here
for i in numbers:
    total+=i

print(total)

# Hint: Use a for loop and accumulate values into total.

50

### <span style="color:orange"><u>**3. Multiply all items in a list**<u></span>

In [1]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
# your code here
for i in numbers:
    result*=i
print(result)
# Hint: Start from 1 and multiply one element at a time.

24

### <span style="color:orange"><u>**4. Get the smallest number from a list**<u></span>

In [5]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
# your code here
for i in numbers:
    if i <smallest:
        smallest=i
print(smallest)
# Hint: Replace smallest when you find a smaller value.

1

### <span style="color:orange"><u>**5. Get the largest number from a list**<u></span>

In [7]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
# your code here
for i in numbers:
    if i>largest:
        largest=i

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

50

### <span style="color:orange"><u>**6. Count number of strings with length â‰¥ 2**<u></span>

In [11]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
# your code here
#words=''.join(words)
#count=len(words)
for i in words:
    if len(i)>=2:
        count+=1
print(count)
# Hint: Use len(word) and a condition.

4

### <span style="color:orange"><u>**7. Clone or copy a list**<u></span>

In [12]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here
cloned=list(original)
print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

### <span style="color:orange"><u>**8. Remove item(s) from a set**<u></span>

In [14]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here
my_set.remove(5)
print(my_set)
# Hint: Use remove() or discard().

{1, 2, 3, 4}

### <span style="color:orange"><u>**9. Check if a set is subset of another**<u></span>

In [16]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here
subset=set1.issubset(set2)
print(subset)
# Hint: Use .issubset() or compare elements manually.

True

### <span style="color:orange"><u>**10. Remove all elements from a set**<u></span>

In [18]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here
my_set.clear()
print(my_set)

# Hint: Sets have a method that makes them empty.

set()

### <span style="color:orange"><u>**11. Find max and min values in a set**<u></span>

In [26]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
# your code here
my_set=list(my_set)
my_set.sort()
maximum=my_set[-1]
minimum=my_set[0]
print("Max:", maximum)
print("Min:", minimum)

# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

In [28]:
#Other Way
my_set = {10, 3, 25, 1, 7}
iterator=iter(my_set)
minimum= maximum = next(iterator)
for num in iterator:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("Max:", maximum)
print("Min:", minimum)

Max: 25
Min: 1

### <span style="color:orange"><u>**12. Find the index of an item in a tuple**<u></span>

In [29]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
# your code here

index_value=my_tuple.index(20)
print(index_value)
# Hint: Tuples have a method for this.

1

### <span style="color:orange"><u>**13. Convert a tuple to a dictionary**<u></span>

In [30]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
# your code here
my_dict=dict(my_tuple)
print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

### <span style="color:orange"><u>**14. Unzip a list of tuples into individual lists**<u></span>

In [35]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here
list1 , list2=zip(*pairs)
list1=list(list1)
list2=list(list2)

print(list1)
print(list2)
# Hint: You can loop OR use zip(*pairs).

[1, 3, 5]
[2, 4, 6]

### <span style="color:orange"><u>**15. Reverse a tuple**<u></span>

In [37]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
# your code here
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)
# Hint: Use slicing.

(5, 4, 3, 2, 1)

### <span style="color:orange"><u>**16. Convert a list of tuples into a dictionary**<u></span>

In [38]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here
my_dict=dict(pairs)
print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

### <span style="color:orange"><u>**17. Replace the last value of each tuple in a list**</u></span>

- <span style="color:red">**Sample list:**</span> [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- <span style="color:red">**Expected output:**</span> [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [48]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
# your code here
for t in data:
    temp=list(t)
    temp[-1]=100
    new_list.append(tuple(temp))

print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### <span style="color:orange"><u>**18. Sort a tuple by its float element**<u></span>

In [50]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
# your code here
sorted_items = sorted(items , key=lambda x:x[-1])
print(sorted_items)
# Hint: Use sorted() with a key function.

[('item2', 5.7), ('item3', 8.9), ('item1', 10.5)]

## <span style="color:red">***Chalenge Part***</span>

### <span style="color:orange"><u>**Find the longest word in a list**<u></span>

In [57]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word
word=iter(words)
longest=next(word)
for i in word:
    if len(i) > len(longest):
         longest=i
print(longest)
# Hint: Track the word with the largest len().

fantastic

In [58]:
words = ["hi", "hello", "fantastic", "world"]
longest=max(words,key=len)
print(longest)

fantastic

### <span style="color:orange"><u>**Merge two dictionaries**<u></span>

In [66]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
# TODO: merge into one dictionary
result=d1 | d2
print(result)
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [67]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
result =d1
result.update(d2)
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### <span style="color:orange"><u>**Sum values in a dictionary**<u></span>

In [59]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values
total=sum(data.values())
print(total)

60

#### <span style="color:red">**solution**</span>

In [68]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

60

### <span style="color:orange"><u>**New Challenge**<u></span>

In [70]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0     # TODO: start total at 0

for student_data in scores.values():# TODO: loop over values of the dictionary
    for score in student_data.values(): # TODO: loop over inner dictionary values
        total += score              # TODO: update the total

print(total)       # TODO: print the result

#hint you will need nested for loop one

510