# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [1]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [2]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [5]:
 
import pandas as pd
import numpy as np

def automated_stat_analyzer(df, column_name):
    """
    Company Task: Provide a summary report of a specific data variable.
    """

    if column_name not in df.columns:
        return {"Error": "Column not found in DataFrame"}

    column = df[column_name]

    
    if pd.api.types.is_numeric_dtype(column):
        mean_val = column.mean()
        median_val = column.median()
        std_val = column.std()

 
        if mean_val > median_val:
            skewness = "Right Skewed"
        elif mean_val < median_val:
            skewness = "Left Skewed"
        else:
            skewness = "Symmetric"

        return {
            "Column": column_name,
            "Type": "Numerical",
            "Mean": round(float(mean_val), 2),
            "Median": round(float(median_val), 2),
            "Standard Deviation": round(float(std_val), 2),
            "Skewness": skewness
        }

    else:
        mode_val = column.mode()

        return {
            "Column": column_name,
            "Type": "Categorical",
            "Mode": mode_val.iloc[0] if not mode_val.empty else None
        }

result = automated_stat_analyzer(df_test, "Sales_Amount")
print(result)

{'Column': 'Sales_Amount', 'Type': 'Numerical', 'Mean': 275.0, 'Median': 195.0, 'Standard Deviation': 258.31, 'Skewness': 'Right Skewed'}

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [6]:
import pandas as pd
import numpy as np

def null_handling_strategy(df, strategy="fill_mean"):
    """
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """

    if not df.isnull().values.any():
        print("No missing values found.")
        return df

    if strategy == "drop_rows":
        return df.dropna()


    numeric_cols = df.select_dtypes(include=["number"]).columns

 
    if strategy == "fill_mean":
        df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())
        return df

    elif strategy == "fill_median":
        df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())
        return df

    else:
        raise ValueError("Invalid strategy. Use 'drop_rows', 'fill_mean', or 'fill_median'.")

print(df_test["Customer_Age"])


cleaned_df = null_handling_strategy(df_test, strategy="fill_mean")

print(cleaned_df["Customer_Age"])

0    25.0
1    34.0
2     NaN
3    45.0
4    23.0
5    31.0
6    29.0
7     NaN
8    38.0
9    40.0
Name: Customer_Age, dtype: float64
0    25.000
1    34.000
2    33.125
3    45.000
4    23.000
5    31.000
6    29.000
7    33.125
8    38.000
9    40.000
Name: Customer_Age, dtype: float64